[tidsram]
developer_mode = True

[tidsram_clock]
simulate = False
on_rgb = #FFF
off_rgb = #000

[tidsram_display]
layout = layouts/swedish3.json
brightness = 200
reverse_mirror = True

[tidsram_computer]
fill_empty = False
show_index = False
